<!-- navbar -->
<header th:fragment="navbar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 30px;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/index}">Return</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profiles}">Find</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" list="somethingelse"></input>
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    <datalist id="somethingelse" th:each="account : ${accounts}">
                        <option th:text="${account.username}"></option>
                    </datalist>
                </form>

            </div>
        </div>
    </nav>
</header>
