<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <title>Accounts</title>
    </head>

    <body>

        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- account data -->
        <div th:each="data : ${account}" class="container mb-5">
            <h2>My Profile</h2>
            <div class="row">
                <div class="col-sm-2">
                    <label class="font-weight-bold">Name</label>
                </div>
                <div class="col-sm-2">
                    <span th:text="${data.name}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label class="font-weight-bold">Username</label>
                </div>
                <div class="col-sm-2">
                    <span th:text="${data.username}"></span>
                </div>
            </div>
        </div>

        <div class="container mb-5">
            <h2>Connections</h2>
        </div>

        <div class="container mb-5">
            <h2>Skills</h2>

            <!--list top three skills -->
            <div class="container mb-4">
                <div th:each="data, iterStat : ${skills}" th:if="${iterStat.index < 3}" class="row">
                    <div class="col-sm-2">
                        <b th:text="${data.description}"></b>
                    </div>
                    <div class="col-sm-2">
                        <span class="badge badge-pill badge-info" th:text="${data.likes}"></span>
                    </div>

                    <!-- like skill -->
                    <form method="POST" th:action="@{/profiles/{username}/likeskill(username=${account.username})}">
                        <div class="input-group col">
                            <button name="id" th:value="${data.id}" type="submit" class="btn btn-outline-primary btn-sm">Like</button>
                        </div>
                    </form>

                    <!--delete skill -->
                    <form method="POST" th:action="@{/profiles/{username}/deleteskill(username=${account.username})}">
                        <div class="input-group">
                            <button name="id" th:value="${data.id}" type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--list the rest of skills -->
            <div class="container mb-3">
                <div th:each="data, iterStat : ${skills}" th:if="${iterStat.index >= 3}" class="row">
                    <div class="col-sm-2">
                        <span th:text="${data.description}"></span>
                    </div>
                    <div class="col-sm-2">
                        <span class="badge badge-pill badge-info" th:text="${data.likes}"></span>
                    </div>

                    <!-- like skill -->
                    <form method="POST" th:action="@{/profiles/{username}/likeskill(username=${account.username})}">
                        <div class="input-group col">
                            <button name="id" th:value="${data.id}" type="submit" class="btn btn-outline-primary btn-sm">Like</button>
                        </div>
                    </form>

                    <!--delete skill -->
                    <form method="POST" th:action="@{/profiles/{username}/deleteskill(username=${account.username})}">
                        <div class="input-group">
                            <button name="id" th:value="${data.id}" type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--post new skill -->
            <form method="POST" th:object="${skill}" th:action="@{/profiles/{username}/addskill(username=${account.username})}">
                <div class="form-row mt-5">
                    <div class="col-md-4 mb-0">
                        <input name="description" type="text" class="form-control form-control-sm" placeholder="Insert description"></input>
                    </div>
                    <div class="col-md-4 mb-0">
                        <button type="submit" class="btn btn-outline-dark btn-sm">Add skill</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-0">
                        <p class="mb-0 text-danger"><small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small></p>
                    </div>
                </div>
            </form>

        </div>

    </body>
</html>
